# Exclude files and directories
.git
.idea
*.pyc
*.log
.env

# Exclude specific files
docker-compose.yml
README.md

# Ignore files and directories in the root directory
node_modules
build
.dockerignore

# Ignore files and directories in the client directory
app/client/node_modules
app/client/build

# Ignore files and directories in the backend directory
app/backend/node_modules
app/backend/dist

Dockerfile
/backend/.env
# local env files
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env
/client/package-lock.json

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# misc
/client/.DS_Store

/backend/node_modules
/backend/.env
/backend/dist
/backend/package-lock.json

# dependencies
/client/node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

